<div class="top-row row panel-heading container-fluid">
    <div class="col-md-3">
        <span class="top-brand">
            CUSC MANAGEMENT
        </span>
    </div>
    <div class="col-md-9">
        <img class="profile" src="~/Images/Admin/profile.png" alt="Account" />
    </div>
</div>
