@model IEnumerable<aptech.Models.MonHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <button type="button" onclick="return _add();" id="btnAdd">Them Moi</button>
    <input type="button" value="Export Excel File" onclick="@("window.location.href='" + @Url.Action("exportExcel", "MonHoc") + "'");" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mhID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mhTen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tbody"></tbody>

</table>
