body {
    margin:0px;
    padding:0px;
    
}

.panel{
    margin-bottom:0px;
    margin-top:0px;
    border-width:0px;
}

header{
    margin-bottom:0px;
    padding-bottom:0px;
}

.top-row{
    background-color:#222930;
    color:#E9E9E9;
    
}

.top-brand{
    padding-top:5px;
    margin-top:5px;
    padding-left:10px;
    float:left;
    font-size:18px;
    font-weight:bold;
    text-transform:uppercase;
}

.profile{
    padding-top:5px;
    margin-top:5px;
    float:right;
    padding-right:10px;
}

article{
    padding-top:0px;
    margin-top:0px;
    padding-left:0px;
    
}

.sidebar-nav
{
    padding-left:0px;
    
}

.seft-nav{
    display:block;
}

.brand
{
    text-align:center;
    background-color:#4EB1BA;
   
}


#wrapper {
    color: #E9E9E9;
    background-color:#4EB1BA;
    
    padding-left:0px;
    padding-right:0px;
    
}

.main-nav
{
    height:100vh;
    background-color: #222930;
    
}

.sidebar-wrapper>ul{
    padding-left:0px;
}

ul>li{
    list-style-type:none;
    height:2.5em;
}

.menulink{
    padding-left:20px;
}

ul>li:hover{
    background-color:#A1ABAD;
}

.col-md-10{
    padding-left:0px;
    padding-right:0px;
}

/*new dashboard*/

.navigate{
    background-color:#222930;
    padding:0px;
    margin:0px;
    height:100vh;
    color:white;
}

.brand-logo{
    text-align:center;
}

.menu{
    float:left;
    padding-left:0px;
    margin-left:0px;
    width:100%;
    text-align:center;
}
.menu-ul{
    padding-left:0px;
    padding-bottom:0px;
}

.break-line{
    border: 1px solid white;
    box-shadow:1px 0px 0px 0px gray;
}

.menu-li{
    padding-top:7px;
    vertical-align:middle;
}

.menu-li:hover{
    background-color:#428bca;
}


