body {
    /*background-image:url("../Images/loginBG.jpg");*/
    background-color:#428bca;
    color:white;
}
/* LOGIN PAGE */

.login-container{
    
    vertical-align:middle;
    text-align:left;
    border-radius:10px;
    color:white;
   /* background-image:url("../Images/loginBG.jpg");
    background:fixed;*/
   background-color:#222930;
   z-index:1;
   
}



.login-form{
    margin:0px;
    color:white;
    background-color:#222930;
    opacity:1;
    margin-top:70px;
    vertical-align:middle;
    text-align:left;
    border-radius:10px;
    background-color:white;
    padding-top:0px;
    padding-left:40px;
    padding-bottom:30px;
    font-size:1.5em;
  
    border:0.5px solid black;
    z-index:100;
}

.editor{
    
    height:45px;
    padding-bottom:0px;
    font-size:1.1em;
    vertical-align:middle;
    
   
    padding-right:40px;
    margin-right:40px;
}
input{
    
    max-width:95%;
}
.form-control{
   
}
h2, .form-caption{
    font-weight:bold;
    color:black;
    height:30px;
    
    padding:0px;
}

.divbutton{
    text-align:center;
}

.button{
    margin-right:30px;
    font-size:1.1em;
    
}

.txt{
     color:#222930;
    padding-top:10px;
}

.button{ font-size:0.8em;}
/*
.login-form, col-md-4, form-group{padding:0px; margin:0px}
.form-caption{
height:50px; vertical-align:middle; border-radius:9px 9px 0px 0px;
}
h2{padding:0px; margin:0px; border-radius:10px;vertical-align:middle; padding-top:10px; color:white; text-align:center; }

.form-content{
padding-left:10px;
padding-right:10px;
}

.editor{width:100%; padding-right:10px;}

.divbutton{padding-button:20px;margin-bottom:20px;padding-right:0px; margin-right:0px; }
.button{margin-right:0px; font-size:0.9em;}
    */

.txtgv{
    font-style:italic;
}